@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}
:root{
    --black-color:rgba(21, 21, 23, 1);
    --red-color:rgba(255, 81, 85, 1);
    --black-color1:rgba(0, 0, 0, 1);
    --black-color2:rgba(32, 32, 32, 1);
    --gray-color:rgba(187, 187, 187, 1);
    --light-theme: rgba(250, 251, 255, 1);
    --light-pink-color:rgba(254, 245, 245, 1);
    --title-size:42px;
    --para-size:14px;
    --pink-color2:rgba(251, 239, 239, 1);
    --light-pink:rgba(255, 202, 194, 1);
}

/* nav var ------------- */
nav{
    position: fixed;
    z-index: 10000;
    width: 100%;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
  }
  nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 8rem 0PX 2.4REM;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .logo a {
    color: var(--red-color);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    gap: 15px;
}
  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 450;
    padding: 10px 12px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    color: var(--red-color);
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    position: absolute;
    background: #fff;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 20px;
    font-weight: 400;
    border-radius: 0px;
  }
  .content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #f2f2f2;
  }
  .wrapper .btn{
    color: var(--red-color);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    nav .wrapper{
    padding: 0 2rem;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #fff;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--blue-color1);
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box,
    #showServicesDrop:checked ~ .drop-menu,
    #showTrainingDrop:checked ~ .drop-menu
    {
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: var(--black-color);
      font-size: 20px;
      font-weight: 499;
      padding-left: 30px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: var(--blue-color1);
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }
  }
  nav input{
    display: none;
  }
  .body-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .body-text div{
    font-size: 45px;
    font-weight: 600;
  }
  /* navbar end------- */

/* container 1 start */
.Conatiner1{
    background-image: url('assests/about-bg-image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    /* background-position: cover; */
    background-size: cover;
    height: 100%;
    padding: 10rem 0 10rem 6.8rem;
    
    }
    .Conatiner1 .title .para1{
        color: rgba(255, 255, 255, 1);
        font-size: 86px;
        font-family: 'khand';
        font-weight: 700;
        letter-spacing: 4px;
    }
    .Conatiner1 .title .para2{
        color: rgba(225, 225, 225, 1);
        font-size: 18px;
        margin-left: -24rem;
    }
    .Conatiner1 .para2 a{
        color: rgba(187, 187, 187);
        text-decoration: none;
    }
    .Conatiner1 .title{
        display: flex;
        flex-direction: column;    
    }
    /* container 1 end */
    /* responsive */
    @media screen and (max-width: 1280px) {
        .Conatiner1 .title .para2 {
                margin-left: -19rem;
        } 
    }
    
    @media screen and (max-width: 1130px) {
        .Conatiner1 .title .para2 {
            margin-left: -15rem;
        }
        .navBar{
            padding: 36px 3rem 36px 2rem;
        }
    }
    @media screen and (max-width: 1090px) {
        .Conatiner1 .title .para2 {
            margin-left: -10rem;
        }
    }
    @media screen and (max-width: 840px) {
    .Conatiner1 .title .para2 {
        margin-left: -6rem;
        font-size: 14px;
    }
    .Conatiner1 .para {
        font-size: 16px;
    }
    .Conatiner1 .title .para1 {
    font-size: 70px;
    }
    }
    
    @media screen and (max-width: 750px) {
        :root{
            --title-size: 36px;
        }
    }
    @media screen and (max-width: 750px) {
            .Conatiner1 .title .para1 {
                font-size: 60px;
            }
            .Conatiner1{
                height: 25rem;
            }
    }
    @media screen and (max-width: 695px) {
        .Conatiner1 .title .para2 {
            margin-left: -4rem;
        }
    }
    @media screen and (max-width: 525px) {
        :root {
            --title-size: 33px;
        }
        .Conatiner1 p {
            margin-top: 12px;
        }
            .Conatiner1 .title .para1 {
                font-size: 46px;
                letter-spacing: 1px;
            }
            .Conatiner1{
                padding: 12rem 0;
            }
            .Conatiner1 .title .para2 {
                margin-left: 0;
                font-size: 12px;
            }
    }
    @media screen and (max-width: 465px) {
    :root {
        --title-size: 28px;
    }
    }
    @media screen and (max-width: 410px) {
        .Conatiner1 {
            height: 26rem;
            }
        .Conatiner1 .title .para2 {
            font-size: 10px;
            margin-bottom: 2rem;
        }
        :root {
            --title-size: 24px;
        }
    }
/* container2 with responsive start */
.conatiner2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10px;
    padding: 2rem 4rem;
    /* align-items: end; */
}
.conatiner2 .sec1 .title{
    font-size: var(--title-size);
    font-weight: 500;
    color: var(--black-color);
}
.conatiner2 .sec1 .para,.conatiner2 .sec3 .para{
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.90px;
    font-weight: 440;
    color: var(--black-color2);
}
.conatiner2 .sec2 img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1000px) {
    .conatiner2{
        grid-template-columns: auto;
        gap: 1rem;
    }
}
@media screen and (max-width:700px) {
    .conatiner2{
padding: 2rem 3rem;
    }
    .conatiner2 .sec1 .para, .conatiner2 .sec3 .para {
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width:500px) {
    .conatiner2 {
        padding: 2rem 2rem;
    }
    .conatiner2 .sec1 .para, .conatiner2 .sec3 .para {
        font-size: 13px;
        line-height: 22px;
    }
}
/* container2 with responsive end */
/* container3 with responsive start */
.container3{
    display: grid;
    grid-template-columns: auto auto;
    padding: 3rem 4rem 2rem 8rem;
    gap: 5rem;
}
.container3 .sec2 .title{
    font-size: var(--title-size);
    font-weight: 500;
    color: var(--black-color);
}
.container3 .sec2 .para{
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.80px;
    color: var(--black-color2);
    font-weight: 400;
    font-family: 'Montserrat';
}
@media screen and (max-width:1250px) {
    .container3 {
        padding: 3rem 3rem 2rem 5rem;
        gap: 3rem;
    }
}
@media screen and (max-width:1115px) {
    .container3 {
        padding: 3rem 2rem 2rem 3rem;
        gap: 2rem;
    }
}
@media screen and (max-width:1090px) {
    .container3{
        grid-template-columns: auto;
        padding: 2rem 4rem;
    }
    .container3 .sec1{
        display: flex;
        justify-content: center;
    }
    .container3 .sec1 {
        display: flex;
        justify-content: center;
        order: 2;
    }
    .container3 .sec1 img{
        width: auto;
    }
}
@media screen and (max-width:700px) {
    .container3 .sec2 .para {
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width:560px) {
    .container3 .sec2 .para {
        font-size: 12px;
        line-height: 20px;
    }
    .container3 {
        padding: 3rem 1rem 2rem 1rem;
        gap: 2rem;
    }
    .container3 .sec1 img {
        width: 320px;
    }
}
/* container3 with responsive end */


/* container4 start */
.container4{
    display: grid;
    grid-template-columns: auto auto;
    padding: 3rem 6rem;
    gap: 5rem;
}
.container4 .card1,.container4 .card2{
    background-color: var(--light-pink-color);
    padding: 2.4rem;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.container4 .card1 .title,.container4 .card2 .title{
    font-size: var(--title-size);
    color: var(--black-color);
    font-weight: 500;
}
.container4 .card1 .para,.container4 .card2 .para{
    font-size: 18px;
    line-height: 32px;
    font-family: 'Montserrat';
    margin-top: 12px;
}
@media screen and (max-width:1100px) {
    .container4 {
        padding: 3rem 4rem;
        gap: 3rem;
    }
}
@media screen and (max-width:900px) {
    .container4 {
        padding: 3rem 2rem;
        gap: 2rem;
    }
    .container4 .card1 .para, .container4 .card2 .para {
        font-size: 16px;
        line-height: 28px;
    }
}
@media screen and (max-width:750px) {
    .container4 {
        grid-template-columns: auto;
        padding: 3rem 6rem;
    }
}
@media screen and (max-width:620px) {
    .container4 {
        padding: 3rem 4rem;
    }
}
@media screen and (max-width:560px) {
.container4{
    padding: 2rem;
}
.container4 .card1 .para, .container4 .card2 .para {
    font-size: 14px;
    line-height: 24px;
    margin-top: 7px;
}
}
/* container4 end */

/* container5 start */
.container5{
    background-color: var(--red-color);
    padding: 3rem 0 15rem;
}
.container5 .title{
    font-size: var(--title-size);
    font-weight: 600;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.container5 .inner-sec{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.container5 .inner-sec .img-section2{
    text-align: right;
}

.container6{
    background-color: var(--light-pink-color);
    padding: 2rem 6rem 10rem;
}
.container6 .sec{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin-top: -21rem;
}
.container6 .sec .expert-teacher{
background-color: rgba(255, 255, 255, 1);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
padding: 2rem 2.4rem 2rem 1.4rem;
}
.container6 .sec .expert-teacher img{
    width: 60%;
}

.container6 .sec .expert-teacher .title{
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
    letter-spacing: 2px;
    color: var(--black-color);
}
.container6 .sec .expert-teacher .sub-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    letter-spacing: 1px;
}
.container6 .sec .expert-teacher .para{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'poppins';
    margin-top: 6px;
}
@media (min-width: 1400px) and (max-width: 1999px) {
    .container6 .sec{
            margin-top: -19rem;
        } 
        .container5 .inner-sec .img-section2,.container5 .inner-sec .img-section1 {
            display: grid;
            grid-auto-columns: auto;
            gap: 1rem;
        }
        .container5 .inner-sec .img-section2 img,.container5 .inner-sec .img-section1 img{
            width: 100%;
        }
  }
  
@media screen and (max-width:1140px) {
    .container6 {
        padding: 2rem 4rem;
    }
}
@media screen and (max-width:960px) {
    .container6 {
        padding: 2rem 3rem;
    }
    .container6 .sec {
        gap: 1rem;
}
}
@media screen and (max-width:840px) {
    .container6 .sec .expert-teacher .title {
        font-size: 20px;
        line-height: 42px
    }
    .container6 .sec .expert-teacher .sub-title {
        font-size: 14px; line-height: 20px;
    }
    .container6 .sec .expert-teacher .para {
        font-size: 12px;
        line-height: 19px;
}
.container6 .sec .expert-teacher {
    padding: 1.5rem 2rem 1.5rem 1rem;
}
.container6 {
    padding: 2rem;
}
}
@media screen and (max-width:700px) {
    .container5 .inner-sec{
        display: none;
    }
    .container6{
        background-color: var(--red-color);
    }
    .container6 .sec {
        grid-template-columns: auto;
        gap: 2rem;
        margin-top: -2rem;
    }
    .container5 {
        background-color: var(--red-color);
        padding: 3rem 0 4rem;
    }
}
/* container5 end */ 

/* container7 start */
.container7{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    padding: 4rem;
}
.container7 .video-channel .open-link{
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
}
.container7 .video-channel .open-link img{
    width: 100%;
}
.container7 .video-channel .open-link .descp{
    font-size: 1rem;
    color: var(--black-color);
}
.container7 .video-channel .open-link:hover .descp{
    color: var(--red-color);
}
a{
    text-decoration: none;
}
#home{
    border: 1.2px solid var(--red-color);
    padding: 16px 90px;
    background: #fff;
    color: var(--red-color);
    margin: 0 auto;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: inset 0 0 0 0 var(--red-color);
    transition: ease-out .3s;
    outline: none;
    margin-bottom: 2rem;
    }

    #home:hover {
        box-shadow: inset 300px 0 0 0 var(--red-color);
        color: #fff;
    }

@media screen and (max-width:1050px) {
    .container7 {
        gap: 1.5rem;
        padding: 4rem 2rem;
    }
}
@media screen and (max-width:840px) {
    .container7 {
        padding: 4rem 5rem;
        grid-template-columns: auto auto;
    }
    #home{
        padding: 12px 70px;
        font-size: 13px;
    }
}
@media screen and (max-width:670px) {
    .container7 {
        padding: 3rem 3rem;
    }
    .container7 .video-channel .open-link .descp {
        font-size: 12px;
        margin-top: 6px;
    }
    #home {
        padding: 10px 60px;
        font-size: 11px;
    }
}
@media screen and (max-width:490px) {
    .container7 {
        padding: 2rem 1.6rem;
        gap: 14px;
    }
    #home {
        padding: 8px 45px;
        font-size: 10px;
    }
}

/* footer start */
footer{
    background-color: var(--red-color);
    padding: 4rem 5.4rem 2rem 4.1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5.4rem;
}
footer .col1 .footer-title,footer .col2 .footer-title,footer .col3 .footer-title,footer .col4 .footer-title{
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}
footer .col1 .content{
    font-family: 'poppins';
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    margin-top: 24px;
}
footer .col2 ul,footer .col3 ul{
    margin-top: 24px;
    list-style-type: none;
    padding-left: 0;
}
footer .col2 ul li a,footer .col3 ul li a{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    font-size: 14px;
    line-height: 30px;
}
footer .col3 ul li a i{
    font-size: 16px;
}
footer .col4 a{
    text-decoration: none;
}
footer .col4 .icons{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 12px;
    column-gap: 18px;
}
footer .col4 .icons i{
    color: var(--red-color);
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
        background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition:all 0.3s ease;
    cursor: pointer;
}
footer .col4 .icons i:hover{
    background-color: var(--red-color);
    color: #fff;
    transform: scale(1.5);

}

@media screen and (max-width:1200px) {
    footer {
        padding: 4rem 3.4rem 2rem 3.1rem;
        gap: 3rem;
    }
}
@media screen and (max-width:920px) {
    footer .col4 .icons {
        grid-template-columns: repeat(6, 1fr);
    }
    footer{
        grid-template-columns: auto auto auto;
    }
    footer .col1 .footer-title, footer .col2 .footer-title, footer .col3 .footer-title, footer .col4 .footer-title {
        font-size: 20px;
    }
    footer .col2 ul li a, footer .col3 ul li a {
        font-size: 12px;
        line-height: 26px;
    }
    footer .col1 .content {
        line-height: 22px;
        font-size: 12px;
    }
}
@media screen and (max-width:760px) {
    footer {
        grid-template-columns: auto auto;
    }
    footer .col4 .icons {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:520px) {
    footer{
        grid-template-columns: auto;
        gap: 15px;
    }
    footer .col4 .icons i {
        width: 40px;
        height: 40px;
    }
    footer .col4 .icons {
        grid-template-columns: repeat(6, 1fr);
        gap: 0;
    }
    footer .col1 .content {
        margin-top: 10px;
    }
    footer .col2 ul, footer .col3 ul {
        margin-top: 10px;
    }
}
@media screen and (max-width:440px) {
    footer {
        padding: 2rem 1.2rem 2rem 1.2rem;
        gap: 1.4rem;
    }
}
/* footer end */